.overall-gauge {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gauge-svg {
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.gauge-bg {
  stroke: var(--color-gray-200);
}

.gauge-progress {
  transition: stroke-dashoffset 0.5s ease;
}

.gauge-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gauge-value {
  font-size: var(--font-size-4xl);
  font-weight: 700;
  color: var(--color-gray-900);
  line-height: 1;
}

.gauge-unit {
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-gray-600);
  display: block;
  margin-top: var(--spacing-1);
}
